<div>

  <h2 ng-if="isContactAdd">Add A New Contact</h2>
  <h2 ng-if="contact_id">Edit Contact {{ contact_id }}</h2>

  <hr />

  <form ng-submit="submitContactForm()" role="form">
    <div class="row">
      <div class="form-group col-md-3">
        <label for="firstName">First Name <span class="badge">required</span></label>
        <input type="text" class="form-control" ng-model="contact.firstName" placeholder="First Name" required>
      </div>
      <div class="form-group col-md-3">
        <label for="lastName">Last Name <span class="badge">required</span></label>
        <input type="text" class="form-control" ng-model="contact.lastName" placeholder="Last Name" required>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-3">
        <label for="email">Email Address <span class="badge">required</span></label>
        <input type="email" class="form-control" ng-model="contact.email" placeholder="Email Address" required>
      </div>
      <div class="form-group col-md-3">
        <label for="phone">Phone Number</label>
        <input type="text" class="form-control" ng-model="contact.phone" placeholder="Phone Number">
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-3">
        <label for="birthdate">Birthdate</label>
        <input type="date" class="form-control" ng-model="contact.birthdate" />
      </div>
      <div class="form-group col-md-4">
        <label for="profile-picture">Profile Picture</label>
        <input type="text" class="form-control" ng-model="contact.profile_picture" placeholder="https://upload.wikimedia.org/wikipedia/commons/b/b9/CyprusShorthair.jpg">
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-5">
        <label for="groups">Groups</label>
        <div>
          <label class="checkbox-inline"><input type="checkbox" ng-model="groups.family" />Family</label>
          <label class="checkbox-inline"><input type="checkbox" ng-model="groups.friend" />Friend</label>
          <label class="checkbox-inline"><input type="checkbox" ng-model="groups.colleague" />Colleague</label>
          <label class="checkbox-inline"><input class="group-checkbox" type="checkbox" ng-model="groups.associate" />Associate</label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-5">
        <label for="comments">Comments</label>
        <textarea class="form-control" ng-model="contact.comments" rows="4" maxlength="2000"></textarea>
      </div>
    </div>

    <div class="row form-group container">
      <input type="submit" value="Save" class="btn btn-primary" />
      <input type="reset" value="Reset" ng-click="resetForm()" class="btn btn-danger" />
      <a href="/" ng-click="cancel($event)"><button class="btn btn-primary">Cancel</button></a>
    </div>

  </form>

</div>