<div ng-controller="mainController">

  <table class="table table-striped table-responsive">
    <thead>
      <tr>
        <th class="col-md-1"><!-- Profile picture --></th>
        <th class="col-md-1">First</th>
        <th class="col-md-1">Last</th>
        <th class="col-md-1">Email</th>
        <th class="col-md-1">Phone</th>
        <th class="col-md-1">Birthdate</th>
        <th class="col-md-1">Groups</th>
        <th class="col-md-4">Comments</th>
        <th class="col-md-2"><!-- Edit --></th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="contact in currentPageContacts">
        <td>
          <img ng-src="{{ contact.profile_picture }}" class="img-responsive" alt="profile picture for" />
        </td>
        <td>{{ contact.firstName }}</td>
        <td>{{ contact.lastName }}</td>
        <td>{{ contact.email }}</td>
        <td>{{ contact.phone }}</td>
        <td>{{ contact.birthdate | date:'MM/dd' }}</td>
        <td>{{ getGroups(contact.groups) }}</td>
        <td>{{ contact.comments }}</td>
        <td>
          <div class="btn-group" uib-dropdown>
            <a class="btn btn-primary" ng-href="/edit/{{ contact._id }}">Edit</a>
            <button class="btn btn-primary" uib-dropdown-toggle>
              <span class="caret"></span>
              <span class="sr-only">Split button!</span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
              <li role="edit"><a ng-href="/edit/{{ contact._id }}">Edit</a></li>
              <li role="delete"><a href="#">Delete</a></li>
            </ul>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

</div>